.create-question-section {

  .form-title { 
    margin        : 0; 
    padding       : 15px;
    padding-top   : 18px;
    border-bottom : 1px solid $gray-lighter;
  }

  textarea { 
    resize : none; 
  }

  .radio-list li,
  .checkbox-list li { 
    cursor : pointer; 
  }

  input[name="new_class_code"] {
    text-transform: uppercase;
  }
  ::-webkit-input-placeholder {
    text-transform: none;
  }
  :-moz-placeholder { 
    text-transform: none;
  }
  ::-moz-placeholder { 
    text-transform: none;
  }
  :-ms-input-placeholder { 
    text-transform: none;
  }

  hr.v-space { 
    border-color : transparent; 
  }

  span.choice-label {
    position    : absolute;
    top         : 7px;
    left        : 10px;
    color       : $brand-success;
    font-weight : bold;
  }

  span.pick-answer {
    position : absolute;
    top      : 6px;
    right    : 10px;
    color    : $brand-success;
    cursor   : pointer;
  }

  #action-btn {
    margin-top : 25px;
    padding    : 20px;
    border-top :1px solid $gray-lighter;
  }
  
}