.custom-widget { 
  padding            : 5px 10px; 

  border             : 1px solid darken($gray-lighter, 4%);
  border-radius      : 2px;

  -webkit-box-shadow : 0px 1px 2px 0px lighten($gray-lighter, 5%);
  -moz-box-shadow    : 0px 1px 2px 0px lighten($gray-lighter, 5%);
  box-shadow         : 0px 1px 2px 0px lighten($gray-lighter, 5%);
}

.drop-shadow {
  -webkit-box-shadow : 0px 25px 45px -17px rgba(0,0,0, 0.2);
  -moz-box-shadow    : 0px 25px 45px -17px rgba(0,0,0, 0.2);
  box-shadow         : 0px 25px 45px -17px rgba(0,0,0, 0.2);
}

.no-mg { 
  margin: 0; 
}

.no-pad { 
  padding: 0; 
}

.noise-bg { 
  background-image: url('bg-noise.png'); 
}