//@import "bootstrap/variables";

.custom-dropdown { 
  padding            : 5px 10px; 

  border             : 1px solid darken($gray-lighter, 4%);
  border-radius      : 2px;

  -webkit-box-shadow : 0px 1px 2px 0px lighten($gray-lighter, 50%);
  -moz-box-shadow    : 0px 1px 2px 0px lighten($gray-lighter, 50%);
  box-shadow         : 0px 1px 2px 0px lighten($gray-lighter, 50%);
}

.wrap-form {
  -webkit-box-shadow : inset 0px 4px 0px 0px lighten($brand-success, 100%);
  -moz-box-shadow    : inset 0px 4px 0px 0px lighten($brand-success, 100%);
  box-shadow         : inset 0px 4px 0px 0px lighten($brand-success, 100%);
  
  border-left        : 1px solid darken($gray-lighter, 4%);
  border-right       : 1px solid darken($gray-lighter, 4%);
  border-bottom      : 2px solid darken($gray-lighter, 4%);

  background-color   : white;

  border-radius           : 2px;
  border-top-left-radius  : 0;
  border-top-right-radius : 0;

  .form-title { 
    margin        : 0; 
    padding       : 15px;
    padding-top   : 18px;
    border-bottom : 1px solid $gray-lighter;
  }

  .fa { color : $brand-success; }

  .wrap-controls {
    margin-top : 5px;
    
    .form-group { 
      margin   : 20px; 
      position : relative; 
    }

    .alert {
      margin-bottom : 5px;
      padding       : 5px 10px;
    }

    input,
    textarea,
    .dropdown { 
      @extend .custom-dropdown; 
      &:hover, 
      &:active, 
      &:focus { 
        background-color : lighten($gray-lighter, 5%); 
      }
    }

    textarea { resize : none; }

    .dropdown,
    .dropdown-menue ul li {
      cursor : pointer;
    }

    .dropdown {
      position : relative;

      .fa {
        position : absolute;
        top      : 5px;
        right    : 10px;
        color    : $brand-success;
      }
    }

    .radio-list li,
    .checkbox-list li { 
      cursor : pointer; 
    }

    .dropdown-menue {
      position      : absolute;
      top           : 20px;
      left          : 0;
      z-index       : 888;
      border        : 1px solid darken($gray-lighter, 4%);
      border-radius : 2px;
      width         : 100%;

      -webkit-box-shadow : 0px 10px 40px 0px lighten($gray-light, 42%);
      -moz-box-shadow    : 0px 10px 40px 0px lighten($gray-light, 42%);
      box-shadow         : 0px 10px 40px 0px lighten($gray-light, 42%);

      ul {
        background-color : #fff;
        margin           : 0;
        padding          : 0;
        width            : 100%;
        list-style-type  : none;

        li {
          padding : 5px 10px;
          &:hover { 
            background-color : $gray-lighter; 
          }
        }
      }
    }

    hr.v-space { border-color : transparent; }

    .wrap-input {
      position : relative;

      span.choice-label {
        position    : absolute;
        top         : 7px;
        left        : 10px;
        color       : $brand-success;
        font-weight : bold;
      }

      input { 
        padding-left  : 30px;
        padding-right : 30px;
      }

      span.pick-answer {
        position : absolute;
        top      : 6px;
        right    : 10px;
        color    : $brand-success;
        cursor   : pointer;
      }
    }

    #action-btn {
      margin-top : 25px;
      padding    : 20px;
      border-top :1px solid $gray-lighter;
    }

  }
}