.process-indicator {
  position: absolute;
  z-index: 888;
  top: 30px;
  left: 500px;
  width: 200px;

  .alert {
    text-align: center;
    font-size: 115%;

    -webkit-box-shadow : 0px 10px 40px 0px lighten($gray-light, 42%);
    -moz-box-shadow    : 0px 10px 40px 0px lighten($gray-light, 42%);
    box-shadow         : 0px 10px 40px 0px lighten($gray-light, 42%);
  }
}