<div class="wrap-form">
	
	<h4 class="form-title">
		<i class="fa fa-file-text-o fa-lg"></i>&nbsp;&nbsp;Create Question
	</h4>

	<div class="wrap-controls">
		<form autocomplete="off">

			<div class="form-group">
				<div class="alert alert-warning">
					{{form_cq.errors.discipline[0]}}
				</div>
				<label>Discipline</label>
				<div class="dropdown-discipline dropdown">
					{{model.discipline || "Choose"}}<i class="fa fa-sort-desc"></i>
				</div>
				<div class="dropdown-menue-discipline dropdown-menue hidden">
					<ul>
						<li class="dropdown-menue-item-discipline dropdown-menue-item" ng-repeat="discipline in collection.disciplines track by $index">
							{{discipline}}
						</li>
					</ul>
				</div>
			</div>

			<div class="form-group">
				<div class="alert alert-warning">
					{{form_cq.errors.class_code[0]}}
				</div>
				<label>Class Code</label>
				<div class="dropdown-class-code dropdown">
					{{model.class_code || "Choose"}}<i class="fa fa-sort-desc"></i>
				</div>
				<div class="dropdown-menue-class-code dropdown-menue hidden">
					<ul>
						<li class="dropdown-menue-item-class-code dropdown-menue-item" ng-repeat="class_code in collection.class_codes[model.discipline] track by $index">
							{{class_code}}
						</li>
					</ul>
				</div>
			</div>

			<hr class="v-space">

			<div class="form-group">
				<div class="alert alert-warning" ng-show="">
					{{form_cq.errors.question[0]}}
				</div>
				<label>Question</label>
				<textarea class="form-control" rows="6" ng-model="model.question"></textarea>
			</div>

			<div class="form-group">
				<ul id="question-types" class="radio-list list-unstyled">
					<li class="radio-item-qtype radio-item" ng-repeat="type in question_types track by $index">
						<p><i class="fa fa-circle-thin fa-lg"></i>&nbsp;&nbsp;{{type.text}}</p>
					</li>
				</ul>
			</div>

			<div class="form-group-choice-len form-group">
				<label>Number of Choices</label>
				<div class="dropdown-choice-len dropdown">
					{{model.choice_len || "Choose"}}<i class="fa fa-sort-desc"></i>
				</div>
				<div class="dropdown-menue-choice-len dropdown-menue hidden">
					<ul>
						<li class="dropdown-menue-item-choice-len dropdown-menue-item" ng-repeat="number in collection.numbers">{{number}}</li>
					</ul>
				</div>
			</div>

			<div class="form-group-choices form-group">
				<ng-include src="choices_templates_path"></ng-include>
			</div>

			<div id="action-btn" class="btn-save-question hidden">
				<button class="btn btn-success btn-sm">
					&nbsp;Save Question&nbsp;
				</button>
			</div><!--#action-btn-->

		</form>
	</div><!--.wrap-controls-->
</div><!-- .wrap-form -->