body {
  min-width: 970px;
  background-color: $gray-darker;
  overflow-x: hidden; // prevent from blurry edge.
}

#main-panel.container, #main-panel.container-fluid {
  min-width: 967px;
}

#content-panel {
  background-color: $gray-lighter;

  padding-right : 15px;
  padding-left  : 0;

  min-height: 768px;
}