#sidebar-left.col-xs-2
  ul#menu
    li.head
      .user-meta
        span.pic
          img.img-circle src="/images/puchu-mikhail.jpg" 
        span.clearfix Puchu Mikhail
        span.clearfix.text-muted Assassin
    li
      a ui-sref="dashboard" 
        i.fa.fa-bar-chart
        | &nbsp; Dashboard
    li
      a ui-sref="mystudents" 
        i.fa.fa-users
        | &nbsp; My Students
    li
      a ui-sref="create-question" 
        i.fa.fa-pencil-square-o
        | &nbsp; Create Question
    li
      a ui-sref="questionnaire" 
        i.fa.fa-stethoscope
        | &nbsp; Questionnaire

