#actionbar-top {
  @extend .navbar, .navbar-default, .navbar-fixed-top, .navbar-static-top;

  .navbar-header {
    position: relative;
  }

  .navbar-brand-extend-pad-left {
    width: 400px;
    padding-left: 60px !important;
  }

  .navbar-brand {
    font-weight: bold;
  }

  span#logo {
    position: absolute;
    top: 6px;
    left: 0;
    img { height: 38px !important; }
  }

  .navbar-right {
    margin-right: 15px;
  }

  .logout-user {
    @extend .btn, .btn-primary, .btn-xs;
    min-width: 56px;
  }
}