/*
@extends
*/
.no-mg { 
  margin: 0; 
}

.no-pad { 
  padding: 0; 
}

.noise-bg { 
  background-image: url('bg-noise.png'); 
}


#main-panel.container, #main-panel.container-fluid {
  min-width: 967px;
}

body {
  background-color: $gray-darker; 
  overflow-x: hidden; // prevent from blurry edge.
}