body {
  background-color: $gray-darker; 
  overflow-x: hidden; // prevent from blurry edge.
}

#main-panel.container, #main-panel.container-fluid {
  min-width: 967px;
}

.process-indicator {
  position: fixed;
  z-index: 889;
  top: 40px;
  left: 55%;
  width: 200px;
  margin-left: -100px;

  .alert {
    text-align: center;
    font-size: 115%;

    @extend .drop-shadow;
  }
}