.row#garment-barcode-scan {
  margin-top: 30px;
  color: $gray-lighter;

  .barcode-panel {
    @extend .col-xs-12;
    @extend .col-sm-8;
    @extend .col-sm-offset-2;
    @extend .col-md-4;
    @extend .col-md-offset-4;

    margin-bottom: 90px; // avoid bottom toolbar overlapping
    font-family: Courier;

    #invoice-barcode {
      margin-bottom: 30px;
    }

    form {
      font-size: 22px;

      .row {
        margin-bottom: 25px;
      }

      label {
        color: $brand-primary;
      }

      a.delete-garment-dir {
        text-decoration: none;
        color: $brand-primary;
        &:hover {
          color: darken($brand-primary, 10%);
        }
      }


      input {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid $brand-primary;
        padding: 10px;
        width: 100%;
        outline: none;
        text-transform: uppercase;

        &:disabled {
          color: #ffff00;
          border: none;
        }
      }
    }
  }
}