#signup-form {
  margin-top: 20px;
  margin-bottom: 90px;
  color: inherit;

  #form-panel {
    @extend .col-xs-12;
    @extend .col-sm-8;
    @extend .col-sm-offset-2;
    @extend .col-md-6;
    @extend .col-md-offset-3;

    form {
      h4 {
        @extend .text-center, .mg-t-x;
        margin-top: 40px;
        color: $brand-primary;
        text-shadow: 0px 2px 0px rgba(darken($gray-darker, 10%), 1);

        &.has-error-field {
          color: $brand-danger;
        }
      }

      .form-group.has-error {
        position: relative;

          input {
            border-width: 2px;
            box-shadow: none;
            color: $brand-danger;

            &::selection {
              background: $gray-base; /* WebKit/Blink Browsers */
            }
            &::selection {
              background: $gray-base; /* WebKit/Blink Browsers */
            }
        }

        span.icon-pointer {
          position: absolute;
          top: 25%;
          right: 20px;
          color: $brand-danger;
        }
      }

      input {
        @extend .form-control;
        padding-top: 18px;
        padding-bottom: 18px;

        background-color: $gray-dark;

        border: 1px solid darken($gray, 10%);
        border-radius: 50px;

        color: $brand-primary;
        max-height: 58px;
        -webkit-transition: max-height 0.5s ease-in-out;
        -moz-transition: max-height 0.5s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:focus {
          @extend .input-lg;
          border-radius: 55px;
        }
      }
    }
  }
}