.all-trans {
  -webkit-transition: all 1000ms;
  -moz-transition: all 1000ms;
  -o-transition: all 1000ms;
  transition: all 1000ms;  
}

.color-trans {
  -webkit-transition: color 400ms;
  -moz-transition: color 400ms;
  -o-transition: color 400ms;
  transition: color 400ms;  
}

.left-shadow {
  -webkit-box-shadow: -2px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    -2px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow:         -2px 0px 20px 0px rgba(0, 0, 0, 0.75);
}