#questionnaire-section {
  .table tbody tr {
    cursor: pointer;
  }

  .th-num {
    width: 40px;
  }

  .th-cc {
    width: 130px;
  }

  .td-q {
    max-width: 698px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .th-dt {
    width: 220px;
  }

  .th-opt {
    width: 30px;
  }
}